## Import libraries

In [1]:
import pandas as pd
import numpy as np

## Convert BonBanh data and Chotot data to same format

#### Read data from file csv

In [2]:
bonbanh = pd.read_csv('Data/BonBanh.csv')
bonbanh.head()

,Tên xe,Năm sản xuất,Tình trạng,Số km đã đi,Xuất xứ,Kiểu dáng,Hộp số,Động cơ,Màu ngoại thất,Màu nội thất,Dẫn động,Số chỗ ngồi,Giá xe
0,Xe Peugeot 2008 Active 1.2 AT,2022,Xe đã dùng,"30,000 Km",Lắp ráp trong nước,Crossover,Số tự động,Xăng 1.2 L,Đỏ,Đen,FWD - Dẫn động cầu trước,5 chỗ,679 Triệu
1,Xe Mercedes Benz C class C300 AMG,2014,Xe đã dùng,"90,000 Km",Lắp ráp trong nước,Sedan,Số tự động,Xăng 3.0 L,Trắng,Đen,RFD - Dẫn động cầu sau,5 chỗ,499 Triệu
2,Xe Mercedes Benz E class E200 Exclusive,2022,Xe đã dùng,500 Km,Lắp ráp trong nước,Sedan,Số tự động,Xăng 2.0 L,Đen,Nâu,RFD - Dẫn động cầu sau,5 chỗ,2 Tỷ 229 Triệu
3,Xe Mercedes Benz C class C200 Avantgarde,2021,Xe đã dùng,80 Km,Lắp ráp trong nước,Sedan,Số tự động,Xăng 1.5 L,Xanh,Nâu,RFD - Dẫn động cầu sau,5 chỗ,1 Tỷ 399 Triệu
4,Xe Mercedes Benz E class E200 Exclusive,2022,Xe đã dùng,"8,888 Km",Lắp ráp trong nước,Sedan,Số tự động,Xăng 2.0 L,Trắng,Nâu,RFD - Dẫn động cầu sau,5 chỗ,1 Tỷ 788 Triệu

In [3]:
chotot = pd.read_csv('Data/Chotot.csv')
chotot.head()

,Tiêu đề,Hãng,Dòng xe,Năm sản xuất,Số km đã đi,Tình trạng,Hộp số,Nhiên liệu,Xuất xứ,Kiểu dáng,Số chỗ,Giá
0,bán xe Xpander chính chủ,Mitsubishi,Xpander,2019,50000.0,Đã sử dụng,Tự động,Xăng,Nước khác,NaN,NaN,460.000.000 đ
1,Lên đời bán xe Pajero Sport mua hãng còn mới,Mitsubishi,Pajero Sport,2021,60000.0,Đã sử dụng,Tự động,Dầu,Thái Lan,NaN,NaN,830.000.000 đ
2,"Ford Everest Wildtrak, Đủ màu giao ngay",Ford,Everest,2023,NaN,Mới,Bán tự động,Dầu,Thái Lan,SUV / Cross over,NaN,1.409.000.000 đ
3,Everest 4x4 2023 giảm giá tới 120tr góp từ 250tr,Ford,Everest,2023,NaN,Mới,Tự động,Dầu,Thái Lan,SUV / Cross over,NaN,1.352.000.000 đ
4,cần bán xe lux A 2.0 đời 2019 Bản prelium mới đét,Vinfast,Lux A2.0,2019,26000.0,Đã sử dụng,Tự động,Xăng,Việt Nam,NaN,NaN,605.000.000 đ

#### Change value '-' into null

In [4]:
for col in bonbanh:
    bonbanh[col] = bonbanh[col].replace('-', np.nan)

#### Remove all price-missing car

In [5]:
chotot = chotot.dropna(subset=['Giá'])

#### Convert **Number of km traveled** to int and change it to *0* for all new cars

In [6]:
bonbanh['Số km đã đi'] = bonbanh['Số km đã đi'].replace('Xe mới', '0 Km')
bonbanh['Số km đã đi'] = bonbanh['Số km đã đi'].str.replace('Km', '')
def change_to_int(so_km):
    km = 0
    so_km = [int(x) for x in so_km.split(',')]
    n = len(so_km)
    for i in range(n):
        km += 1000**(n-i-1)*so_km[i] 
    return km
bonbanh['Số km đã đi'] = bonbanh['Số km đã đi'].apply(change_to_int)

In [7]:
chotot.loc[chotot['Tình trạng'] == 'Mới', 'Số km đã đi'] = 0

#### Convert **Price** into *Million* unit

In [8]:
def convert_price(price):
    price = price.split(" ")
    if len(price) == 4:
        return int(price[0])*1000 + int(price[2])
    else:
        if price[-1] == 'Tỷ':
            return int(price[0]) * 1000
        else:
            return int(price[0])
bonbanh['Giá xe'] = bonbanh['Giá xe'].apply(convert_price)
bonbanh = bonbanh.rename(columns = {'Giá xe': 'Giá (triệu)'})
bonbanh['Giá (triệu)'] = bonbanh['Giá (triệu)'].astype('int64')

In [9]:
chotot['Giá'] = chotot['Giá'].astype(str).str.rstrip('đ')
def price_convert(x):
    l = x.split('.')
    n = ''.join(l[0:len(x)-2:1])
    return n[0:-7]
chotot['Giá'] = chotot['Giá'].apply(price_convert)
chotot = chotot.rename(columns = {'Giá': 'Giá (triệu)'})
chotot['Giá (triệu)'] = chotot['Giá (triệu)'].astype('int64')

#### Change **State**

In [10]:
chotot['Tình trạng'] = chotot['Tình trạng'].replace('Đã sử dụng', 'Xe đã dùng')
chotot['Tình trạng'] = chotot['Tình trạng'].replace('Mới', 'Xe mới')

#### Change **Gearbox**

In [11]:
def change_gearbox(x):   
    if x == 'Tự động' or x == '4':
        return 'Số tự động'
    elif x == 'Bán tự động':
        return 'Số hỗn hợp'
    elif x == 'Số sàn' or x == '5':
        return 'Số tay'
    else:
        return x
chotot['Hộp số'] = chotot['Hộp số'].apply(change_gearbox)

#### Change **Design**

In [12]:
def change_design(x):
    if x == 'Bán tải / Pickup' or x == 'Pick-up (bán tải)':
        return 'Pickup'
    elif x == 'SUV' or x == 'Crossover':
        return 'SUV /Crossover'
    elif x == 'Van' or x == 'Minivan (MPV)':
        return 'Van/Minivan'
    elif x == 'Coupe (2 cửa)':
        return 'Coupe'
    elif x == 'Convertible/Cabriolet' or x == 'Mui trần':
        return 'Convertible'
    elif x == 'Truck' or x == 'Wagon':
        return 'Kiểu dáng khác'
    else:
        return x
bonbanh['Kiểu dáng'] = bonbanh['Kiểu dáng'].apply(change_design)
chotot['Kiểu dáng'] = chotot['Kiểu dáng'].apply(change_design)

#### Change **Origin** into *Domestical* or *Imported*

In [13]:
def change_origin(x):
    if x == 'Việt Nam' or x == 'Lắp ráp trong nước':
        return 'Trong nước'
    elif x in ['Nước khác', 'Thái Lan', 'Hàn Quốc', 'Đang cập nhật', 'Mỹ', 'Nhật Bản', 'Đức', 'Đài Loan', 'Ấn Độ', 'Trung Quốc']:
        return 'Nhập khẩu'
    else:
        return x
bonbanh['Xuất xứ'] = bonbanh['Xuất xứ'].apply(change_origin)
chotot['Xuất xứ'] = chotot['Xuất xứ'].apply(change_origin)

#### Take **Capacity** and **Engine** from **Fuel type**

In [14]:
bonbanh['Dung tích'] = bonbanh['Động cơ'].str.extract(r'(\d\.\d)')
bonbanh = bonbanh.rename(columns = {'Động cơ': 'Nhiên liệu'})
bonbanh['Nhiên liệu'] = bonbanh['Nhiên liệu'].str.extract(r'(Xăng|Dầu|Hybrid|Điện)')
bonbanh.loc[bonbanh['Nhiên liệu'] == 'Điện', 'Dung tích'] = 0.0
bonbanh['Dung tích'] = bonbanh['Dung tích'].astype('float64')

In [15]:
chotot['Dung tích'] = np.nan
chotot.loc[chotot['Nhiên liệu'] == 'Điện', 'Dung tích'] = 0.0

#### Take **Brand** and **Series** from **Name**

In [16]:
bonbanh['Tên xe'] = bonbanh['Tên xe'].str.replace('Xe ', '')
check =  lambda x : 'Nan'.join(x.split()[:2]) if (x.split()[0] == "Mercedes" or x.split()[0] == "Rolls") else ' '.join(x.split()[:1])
cartype = bonbanh['Tên xe'].apply(check)
bonbanh['Hãng'] = cartype
#replace nah with " "
bonbanh['Hãng'] = bonbanh['Hãng'].str.replace('Nan', ' ')

bonbanh['Tên xe'] = bonbanh['Tên xe'].apply(lambda x : ' '.join(x.split()[2:]) if (x.split()[0] == "Mercedes" or x.split()[0] == "Rolls") else ' '.join(x.split()[1:]))

classcheck = lambda x: np.nan if x.split() == [] else (' '.join(x.split()[:2]) if (x.split()[0] == "4" or x.split()[0]=="Range Rover" or x.split()[0]=="Lux" or x.split()[0]== "Range" or x.split()[0] == "Land" ) else ' '.join(x.split()[:1]))
bonbanh['Dòng xe'] = bonbanh['Tên xe'].apply(classcheck)

def cross_toyota_check(x):
    if x["Tên xe"].split().count("Cross") > 0:
        return x["Dòng xe"]+ " " + "Cross"
    elif x["Tên xe"].split().count("altis") > 0:
        return x["Dòng xe"]+ " " + "Altis"
    else:
        return x["Dòng xe"]

bonbanh["Dòng xe"] = bonbanh.apply(cross_toyota_check, axis=1)

bonbanh['Dòng xe'] = bonbanh['Dòng xe'].str.replace(' ', '')
bonbanh['Dòng xe'] = bonbanh['Dòng xe'].str.replace('-', '')

In [17]:
def finding_capacity(x):
    if isinstance(x, str):
        #lowercase the string
        x = x.lower()
        x.replace(",", ".")
        A = x.split(" ")
        for j in ["km", "đ" , "%", "kn", "kilomet","tỷ", "triệu", "trăm", "nghìn", "chục", "mươi", "lần","miles", "d", "vnd"]:
            for i in A:
                if (j in i and "." in i) or (".00" in i):
                    A.remove(i)
                    # if A.index(i) > 0:
                    #     A.remove(A[A.index(i)-1])
        for i in range(1,len(A)):
            if A[i] == ["km", "đ" , "%", "kn", "kilomet","tỷ", "triệu", "trăm", "nghìn", "chục", "mươi", "lần","miles", "d", "vnd"]:
               A.remove(A[i-1])
        # combine the list A into a string
        A = " ".join(A)
        A = A.split(".")
        check 
        try:
            return int(A[0][-1]) + 0.1 * int(A[1][0])
        except:
            return None
    else:
        return None

chotot['Dung tích'] = chotot['Tiêu đề'].apply(finding_capacity)
#fill all "Dung tích khác" that > =6.0 and <= 0.8 with nan
chotot.loc[(chotot['Dung tích'] >= 6.0) | (chotot['Dung tích'] <= 0.5), 'Dung tích'] = np.nan

In [18]:
#lowercase Hãng and Dòng xe
bonbanh['Hãng'] = bonbanh['Hãng'].str.lower()
bonbanh['Dòng xe'] = bonbanh['Dòng xe'].str.lower()

In [19]:
def mercedes_class(x):
    if x["Hãng"] == "mercedes benz":
        if x['Dòng xe'] == "c" or x['Dòng xe'] == "e" or x['Dòng xe'] == "s" or x['Dòng xe'] == "g" or x['Dòng xe'] == "a" or x['Dòng xe'] == "v":
            return x["Dòng xe"] + "class"
        else:
            return x["Dòng xe"]
    else:
        return x["Dòng xe"]
    
bonbanh["Dòng xe"] = bonbanh.apply(mercedes_class, axis=1)

In [20]:
#lowercase Hãng and Dòng xe
chotot['Hãng'] = chotot['Hãng'].str.lower()
chotot['Dòng xe'] = chotot['Dòng xe'].str.lower()
chotot['Dòng xe'] = chotot['Dòng xe'].str.replace(' ', '')
#remove "class" from Dòng xe in cho tot
chotot['Dòng xe'] = chotot['Dòng xe'].str.replace('class', '')
chotot['Dòng xe'] = chotot.apply(mercedes_class, axis=1)
#remove "series" from Dòng xe in cho tot
chotot['Dòng xe'] = chotot['Dòng xe'].str.replace('series', '')
bonbanh['Dòng xe'] = bonbanh['Dòng xe'].str.replace('series', '')
#if "Dong xe" = "Veloz" then + "cross"
bonbanh['Dòng xe'] = bonbanh['Dòng xe'].str.lower()
chotot.loc[chotot['Dòng xe'] == 'veloz', 'Dòng xe'] = 'velozcross'
#remove roaster from "Dòng xe" of chotot
chotot['Dòng xe'] = chotot['Dòng xe'].str.replace('roadster', '')

#if "Hang"  huyndai then remove "grand" from "Dong xe"
chotot.loc[chotot['Hãng'] == 'hyundai', 'Dòng xe'] = chotot['Dòng xe'].str.replace('grand', '')

#change "Dong xe" from  bonbanh if = "br" then change to "brv"
bonbanh.loc[bonbanh['Dòng xe'] == 'br', 'Dòng xe'] = 'brv'

In [21]:
#drop "Dòng xe" = "nan"
bonbanh = bonbanh.dropna(subset=['Dòng xe'])

In [22]:
#lơwer case "Hãng" and "Dòng xe" in chotot
chotot['Hãng'] = chotot['Hãng'].str.lower()
chotot['Dòng xe'] = chotot['Dòng xe'].str.lower()
chotot['Dòng xe'] = chotot['Dòng xe'].str.replace(' ', '')
chotot['Dòng xe'] = chotot['Dòng xe'].str.replace('-', '')

In [23]:
bonbanh['Dòng xe'] = bonbanh['Dòng xe'].str.lower()

In [24]:
# def corolla_altis(x):
#     if x["Dòng xe"] == "corolla":
#         return x["Dòng xe"] + " " + "altis"
#     else:
#         return x["Dòng xe"]
# bonbanh["Dòng xe"] = bonbanh.apply(corolla_altis, axis=1)

In [25]:
chotot["Dòng xe"] = chotot["Dòng xe"].str.lower()
chotot["Hãng"] = chotot["Hãng"].str.lower()

#### Convert **Number of seats** to int

In [26]:
bonbanh['Số chỗ ngồi'] = bonbanh['Số chỗ ngồi'].str.replace('chỗ', '')
bonbanh = bonbanh.rename(columns = {'Số chỗ ngồi': 'Số chỗ'})

In [27]:
chotot = chotot[chotot['Số chỗ'] != 'Khác']

In [28]:
bonbanh['Số chỗ'] = bonbanh['Số chỗ'].astype('float64')
chotot['Số chỗ'] = chotot['Số chỗ'].astype('float64')

#### Select same columns in the same order

In [29]:
bonbanh = bonbanh[['Hãng','Dòng xe', 'Năm sản xuất','Tình trạng', 'Số km đã đi', 'Xuất xứ', 'Kiểu dáng', 'Hộp số', 'Nhiên liệu', 'Dung tích', 'Số chỗ', 'Giá (triệu)']]
chotot  =  chotot[['Hãng','Dòng xe', 'Năm sản xuất','Tình trạng', 'Số km đã đi', 'Xuất xứ', 'Kiểu dáng', 'Hộp số', 'Nhiên liệu', 'Dung tích', 'Số chỗ', 'Giá (triệu)']]

In [30]:
#lowercase bonbanh "Dòng xe"
bonbanh['Dòng xe'] = bonbanh['Dòng xe'].str.lower()
#lowercase bonbanh "Hãng"
bonbanh['Hãng'] = bonbanh['Hãng'].str.lower()
#remove " " and "-" from "Dòng xe" of chotot
chotot['Dòng xe'] = chotot['Dòng xe'].str.replace(' ', '')
chotot['Dòng xe'] = chotot['Dòng xe'].str.replace('-', '')

In [31]:
#drop all car that "Dung tích" = nan
bonbanh = bonbanh.dropna(subset=['Dung tích'])

In [32]:
# def findx_car(Hang, Dongxe):
#     data = chotot[chotot["Dòng xe"].str.contains(Dongxe, na=False)]
#     data = data[data['Hãng'] == Hang]
#     return data
# def replace_Dongxe(x):
#     data = findx_car(x['Hãng'], x['Dòng xe'])
#     if data.empty:
#         return x['Dòng xe']
#     else:
#         return data['Dòng xe'].iloc[0]

# bonbanh['Dòng xe'] = bonbanh.apply(replace_Dongxe, axis=1)

## Handle missing value

#### Fill missing values in **Design**, **Number of seats**, **Capacity** column

In [33]:
def find_car(brand,series):
    return bonbanh[(bonbanh['Hãng'] == brand) & (bonbanh['Dòng xe'] == series)]

def findx_car(Hang, Dongxe):
    data = chotot[chotot["Dòng xe"].str.contains(Dongxe, na=False)]
    data = data[data['Hãng'] == Hang]
    return data
def replace_Dongxe(x):
    data = find_car(x['Hãng'], x['Dòng xe'])
    if data.empty:
        data = findx_car(x['Hãng'], x['Dòng xe'])
        if data.empty:
            return x['Dòng xe']
        else:
            return data['Dòng xe'].iloc[0]
    else:
        return data['Dòng xe'].iloc[0]

bonbanh['Dòng xe'] = bonbanh.apply(replace_Dongxe, axis=1)

In [34]:

def fill_design(x):
    data1 = find_car(x['Hãng'],x['Dòng xe'])
    if data1.empty:
        return x['Kiểu dáng']
    else:
        return data1['Kiểu dáng'].iloc[0]

def fill_seat(x):
    data1 = find_car(x['Hãng'],x['Dòng xe'])
    if data1.empty:
        return x['Số chỗ']
    else:
        return data1['Số chỗ'].iloc[0]

def fill_capacity(x):
    #not nan value change nothing
    if not np.isnan(x['Dung tích']):
        return x['Dung tích']
    data1 = find_car(x['Hãng'],x['Dòng xe'])
    if data1.empty:
        return x['Dung tích']
    else:
        return data1['Dung tích'].iloc[0]

chotot["Kiểu dáng"] = chotot.apply(fill_design,axis=1)
chotot["Số chỗ"] = chotot.apply(fill_seat,axis=1)
chotot["Dung tích"] = chotot.apply(fill_capacity,axis=1)

## Combine **bonbanh** and **chotot**

In [35]:
data = pd.concat([bonbanh, chotot], ignore_index=True)

In [36]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38052 entries, 0 to 38051
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Hãng          38051 non-null  object
 1   Dòng xe       38051 non-null  object
 2   Năm sản xuất  38051 non-null  object
 3   Tình trạng    38052 non-null  object
 4   Số km đã đi   37789 non-null  float64
 5   Xuất xứ       34188 non-null  object
 6   Kiểu dáng     36905 non-null  object
 7   Hộp số        38050 non-null  object
 8   Nhiên liệu    38049 non-null  object
 9   Dung tích     37069 non-null  float64
 10  Số chỗ        36754 non-null  float64
 11  Giá (triệu)   38052 non-null  int64
dtypes: float64(3), int64(1), object(8)
memory usage: 3.5+ MB

In [37]:
# data = data.drop('Dòng xe', axis=1)

In [38]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38052 entries, 0 to 38051
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Hãng          38051 non-null  object
 1   Dòng xe       38051 non-null  object
 2   Năm sản xuất  38051 non-null  object
 3   Tình trạng    38052 non-null  object
 4   Số km đã đi   37789 non-null  float64
 5   Xuất xứ       34188 non-null  object
 6   Kiểu dáng     36905 non-null  object
 7   Hộp số        38050 non-null  object
 8   Nhiên liệu    38049 non-null  object
 9   Dung tích     37069 non-null  float64
 10  Số chỗ        36754 non-null  float64
 11  Giá (triệu)   38052 non-null  int64
dtypes: float64(3), int64(1), object(8)
memory usage: 3.5+ MB

In [39]:
data.to_csv('Data/data.csv', index=False)